@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: 'Impact', sans-serif;
}
.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
a {
    text-decoration: none;
}

.sp-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.5));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.5));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.5));
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 3));
}